body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.fill {
  width: 100%;
  height: 100%;
}

.fill-x {
  width: 100%;
}

.fill-y {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

@keyframes flash-appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes message-appear {
  0% { opacity: 0; background-color: #4ed354; }
  100% { opacity: 1; background-color: transparent; }
}

.animate-flash-appear {
  animation: flash-appear 500ms ease-in-out;
}

.animate-message-appear {
  animation: message-appear 500ms ease-in-out;
}